/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

div.table-header, div.table-item {
    font-size: 12px;
}

div.table-header {
    font-weight: 600;
}

div.view-container {
    padding: 10px;
}

/*<login form*/
.login-form {
    margin-bottom:5px;
}
/*<login form*/

/*navbar*/
.brand-image {
    width: 40px;
}

.login-link {
    margin-right: 20px !important;
}
/*navbar*/

.center-block {
    display: table !important;
    margin-left: auto;
    margin-right: auto;
}