<!DOCTYPE html>

<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Expense manager</title>
    <link rel="icon" href="http://nova-ultimate.com/favicon.ico" type="image/x-icon" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <link href="bower_components/ngtoast/dist/ngToast.css" rel="stylesheet"/>
    <!--<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>-->

    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <!--bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--font awesome-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body ng-controller='mainCtrl'>
<toast></toast>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--nav bar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/app">
                <img class="brand-image" alt="Brand" src="http://nova-ultimate.com/graphics/logotype.png">
            </a>
        </div>

        <!--ng-show="loggedIn"-->
        <p ng-show="!loggedIn" class="navbar-text navbar-right login-link"><a href="#/login" class="navbar-link">Login</a></p>
        <p ng-show="loggedIn" class="navbar-text navbar-right login-link"><a href="#/login" ng-click="logout()" class="navbar-link">Log out</a></p>
        <p ng-show="loggedIn" class="navbar-text navbar-right login-link"><a href="#/profile" class="navbar-link">{{currentUser}}</a></p>
    </div>
</nav>
<!--nav bar-->

<div class="container">
    <div class="container container-content">
        <div class="row">

            <div class="col-md-3 col-md-offset-2 text-right">
                <label>Trip year:
                </label>
            </div>
            <div class="col-md-3 text-left">
                <select ng-model="selectedYear" ng-options="year for year in years">
                    <option style="display:none" value="">Select a year</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-2 text-right">
                <label>Select trip:
                </label>
            </div>
            <div class="col-md-3 text-left">
                <select ng-change="tripSelected(selectedTrip)" ng-model="selectedTrip" ng-options="trip.name for trip in trips | filter:selectedYear">
                    <option style="display:none" value="">Select a trip</option>
                </select>
            </div>
        </div>
    </div>

    <div class="jumbotron" ng-view>
    </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<!-- 3rd party compoments -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-md5/angular-md5.min.js"></script>

<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/ngtoast/dist/ngToast.min.js"></script>

<!--<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.5/ngStorage.min.js"></script>

<!--bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- 3rd party compoments -->

<script src="view1/view1.js"></script>
<script src="addEntryView/addEntryView.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

<script src="jcs.js"></script>

<!-- Core module -->
<!-- <script src="modules/core/module.core.js"></script>
<script src="modules/core/services/eventbus.js"></script> -->

<script src="distr/modules/core/module.core.js"></script>

<!-- Core module-->

<!-- Auth module-->
<!-- <script src="modules/auth/module.auth.js"></script>
<script src="modules/auth/module.auth.routes.js"></script>
<script src="modules/auth/services/authentication.js"></script>
<script src="modules/auth/services/authorization.js"></script>
<script src="modules/auth/services/storage.js"></script>

<script src="modules/auth/services/loginProvider.js"></script>

<script src="modules/auth/controllers/loginCtrl.js"></script>
<script src="modules/auth/directives/access.js"></script>
<script src="modules/auth/module.auth.run.js"></script> -->
<script src="distr/modules/auth/module.auth.js"></script>

<!-- Auth module-->

<!-- Pages module-->

<!-- <script src="modules/pages/module.pages.js"></script>
<script src="modules/pages/module.pages.routes.js"></script>

<script src="modules/pages/controllers/defaultCtrl.js"></script>
<script src="modules/pages/controllers/tripExpenseCtrl.js"></script>
<script src="modules/pages/controllers/calculationsCtrl.js"></script>
<script src="modules/pages/controllers/profileCtrl.js"></script>
<script src="modules/pages/controllers/crewCtrl.js"></script> -->

<script src="distr/modules/pages/module.pages.js"></script>

<!-- Pages module-->

<script src="app.js"></script>

<!-- App module-->

<script src="modules/app/app.run.js"></script>
<script src="modules/app/app.config.js"></script>
<script src="modules/app/module.app.routes.js"></script>

<!-- App module-->

</body>
</html>
