<div access="User,Admin" >
    <h2>{{pageHeader}}</h2>
    <div  class="container-fluid" >
        <div class="row">
            <a ng-repeat="menuItem in menuItems" href="{{menuItem.link}}" role="button" class="btn {{menuItem.menuClass}}">
                <i class="fa {{menuItem.icon}}"></i>
                <span>{{menuItem.text}}</span>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-repeat="currency in currencies">
            <ul>
                <li>Name - {{currency.currencyName}}, buy: {{currency.buy}}, sell: {{currency.sale}}</li>
            </ul>
        </div>
    </div>
</div>
