<!--<div ng-controller="tripExpenseCtrl">-->
<div>
    <h2>{{pageHeader}}</h2>
    <div  class="container-fluid">
        <div class="row">
            <a ng-repeat="menuItem in menuItems" href="{{menuItem.link}}" role="button" class="btn {{menuItem.menuClass}}">
                <i class="fa {{menuItem.icon}}"></i>
                <span>{{menuItem.text}}</span>
            </a>
        </div>
    </div>

    <div class="container container-content">
        <form class="form-inline">
            <div ng-repeat="expense in expenses.expensesArray" class="row form-inline">
                <div class="form-group">
                    <label>{{$index + 1}}</label>
                </div>
                <div class="form-group">
                    <label class="sr-only">Value</label>
                    <input type="number" class="form-control form-control-sm" ng-model="expense.expense" placeholder="Expense value">
                </div>
                <div class="form-group">
                    <label class="sr-only">Currency</label>
                    <select class="form-control form-control-sm" ng-model="expense.currency" ng-options="currency.id as currency.currency for currency in currencies"/>
                </div>
                <div class="form-group">
                    <label class="sr-only">Description</label>
                    <input type="text" class="form-control" ng-model="expense.description" placeholder="Description">
                </div>
                <div class="form-group">
                    <label class="sr-only">Category</label>
                    <select class="form-control form-control-sm" ng-model="expense.category" ng-options="category.id as category.category for category in categories"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-glyphicon-sm" ng-click="removeItem(expense)" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="addNewItem()" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add ...
                </button>
            </div>
        </form>
    </div>
</div>